@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
 
        <h2>Aplikacja do wykonywania przeglądów aparatury</h2>
    Aplikacja służy do dodawania edycji usuwania, przeglądania i wyszukiwania przeglądów aparatury psychologicznej. <br/>
    Dzięki niej ekipa, która jeździ po Polsce i je wykonuje, może na bieżąco sprawdzać i odznaczyć wykonane.


  
</div>
